* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* ------------------------- header ------------------------- */

.contenedor-flex-header {
    display: flex;
    height: 15%;
    width: 100%;
    background-color: black;
}

.contenedor-flex-header div {
    display: inline-block;
}

.flex-item-logo {
    padding: 15px;
    margin-left: 40px;
}

.contenedor-subsecciones {
    position: relative;
    left: 40px;
    height: 100%;
    width: 60%;
}

.contenedor-subsecciones button{
    color: white;
    font-size: 20px;
    background-color: black;
    height: 100%;
    width: 250px;
    border-left: 2px solid #0CABE6;
    border-right: 2px solid #0CABE6;
    border-top: none;
}

.contenedor-subsecciones button:hover {
    position: relative;
    bottom: 10px;
    border-bottom: 20px solid #0CABE6;
}

.btn-ms {
    position: relative;
    bottom: 10px;
    border-bottom: 20px solid #0CABE6;
}

.btn-sol {
    border-bottom: 2px solid #0CABE6;
}

.btn-po {
    border-bottom: 2px solid #0CABE6;
}


/*------------------------------------------------------------------------------------------*/

.contenedor-saludo {
    position: relative;
    width: 20%;
    color: white;
}

.contenedor-saludo p {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 100px);
    font-size: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
}

.main_nav{
    width: 100%;
    position: relative;
    z-index: 2000p;
    padding: 10px;


}
.icon_menu{
    display: block;
    color: white;


    
}

.menu{
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0%;
    overflow: hidden;
    transition: height .3s linear;
    border-radius: 8px;


}
.menu_link{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;


}
.menu_link:hover{
    background: #0CABE6;

}

.menu_link_select{
    background: #0CABE6;


}
.mostrar{
    height: 196px;


}


.contenedor-opciones {
    position: relative;
    height: 100%;
    width: 10%;
    /* border: 4px solid red; */
}

.contenedor-opciones nav button {
    position: absolute;  
    left: 37%; 
    top: 40px;
    padding: 0;
    border: 0;
    width: 70px;
    height: 70px;
}

.contenedor-opciones nav button img {
    height: 100%;
    width: 100%;
}


.contenedor-opciones button {
    position: absolute;
    left: 50%; 
    top: calc(50% - 35px);
    padding: 0;
    border: 0;
    width: 70px;
    height: 70px;
}

.contenedor-opciones button img {
    height: 100%;
    width: 100%;
}

/* ------------------------- cuerpo -------------------------  */

.contenedor-principal-misservicios {
    display: flex;
    height: 75%;
}


.contenedor-btn-izquierdo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    background-color: #444444; 
}

.contenedor-btn-izquierdo div {
    border-radius: 20px;
    width: 70%;
    height: 50%;
    background-color: #030303;
    opacity: .22;
}

.contenedor-btn-izquierdo div button{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.contenedor-btn-izquierdo div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ------------------------------------------------------------------ */

.contenedor-btn-derecho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    background-color: #444444; 
}

.contenedor-btn-derecho div {
    border-radius: 20px;
    width: 70%;
    height: 50%;
    background-color: #030303;
    opacity: .22;
}

.contenedor-btn-derecho div button{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.contenedor-btn-derecho div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}





.contenedor-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #444444;
}

.contenedor-informacion-tarjeta {
    display: flex;
    width: 70%;
    height: 80%;
    background-color: #E2F7FF;
    border: 10px solid #0CABE6;
    border-radius: 1%;
    padding: 20px;
}

.linea-izquierda {
    background-color: black;
    width: 0.5%;
    height: 100%;
}






.contenido-tarjeta {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
}

.info-general {
    position: relative;
    padding: 20px;
    height: 30%;
    width: 100%;
    /* background-color: tomato; */
}

.info-general p {
    display: inline-block;
    position: absolute;
}

.titulo {
    width: 55%;
    font-size: 24px;
    left: 20px;
}

.valor {
    font-size: 22px;
    right: 136px;
}

.trabajador {
    font-size: 20px;
    left: 20px;
    top: 50px;
}

.ubicacion {
    left: 20px;
    top: 80px;
}

/*Falta terminar*/
.valoracion {
    position: absolute;
    right: 250px;
    top: 60px;
}

.contenedor-estrellas {
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 220px;
}

.valoracion div div {
    display: inline-block;
    width: 40px;
    height: 100%;
}

.valoracion div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Contenedor para descripcion*/
.contenedor-descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    height: 45%;
    width: 100%;
    /* background-color: violet; */
}

.tadescripcion {
    border: 5px solid #0CABE6;
    background-color: transparent;
    width: 95%;
    height: 70%;
    padding: 10px;
}



/* contenedor inferior para fecha y botón solicitame */

.contenedor-fecha-boton {
    position: relative;
    padding: 10px;
    height: 25%;
    width: 100%;
    /* background-color: yellowgreen; */
}

.fechapub {
    position: absolute;
    bottom: 0;
}

.btn-solicitame {
    position: absolute;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #0CABE6;
    color: white;
    font-size: 18px;
    outline: none;
    width: 250px;
    height: 50px;
    right: 40px;
    bottom: 10px;
}

.linea-derecha {
    background-color: black;
    width: 0.4%;
    height: 100%;
}

/* BOTONES DE ANTERIOR Y SIGUIENTE */

.row {
    display: inline-block;
    width: 100%;
    background-color: #444444;
    text-align: center;
    height: 40px;
} 

.col-lg-3 {
    display: inline-block;
    width: 200px;
    margin: 10px;
    background-color: #0CABE6;
    border-radius: 5px;
}

.col-lg-3 a {
    color: white;
    height: 100%;
}

.row div {
    color: white;
}

/* ------------------------- footer ----------------------------*/

footer {
    height: 10%;
    background-color: black;  
} 